Label {
	-fx-background-color: black; 
	-fx-font-size: 15; 
	-fx-text-fill: FFF143; 
	-fx-padding: 5;
}

Label:hover {
	-fx-background-color: orange; 
	-fx-font-size: 15; 
	-fx-text-fill: black; 
	-fx-padding: 3;
}

Label:pressed {
	-fx-background-color: beige; 
	-fx-font-size: 15; 
	-fx-text-fill: black; 
	-fx-padding: 3;
}
